In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [32]:
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
columns = ['buying','maint','doors','persons','lug_boot','safety','class']
df = pd.read_csv(url,header=None,names=columns)
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [33]:
encode = OrdinalEncoder()
df[['buying','maint','lug_boot','safety']] = encode.fit_transform(df[['buying','maint','lug_boot','safety']].values)
df.doors[df.doors=='5more'] = '5'
df.persons[df.persons == 'more'] = '5'
df.iloc[:,:-1] = encode.fit_transform(df.iloc[:,:-1].values)
df

     buying maint doors persons lug_boot safety  class
0       3.0   3.0   0.0     0.0      2.0    1.0  unacc
1       3.0   3.0   0.0     0.0      2.0    2.0  unacc
2       3.0   3.0   0.0     0.0      2.0    0.0  unacc
3       3.0   3.0   0.0     0.0      1.0    1.0  unacc
4       3.0   3.0   0.0     0.0      1.0    2.0  unacc
...     ...   ...   ...     ...      ...    ...    ...
1723    1.0   1.0   3.0     2.0      1.0    2.0   good
1724    1.0   1.0   3.0     2.0      1.0    0.0  vgood
1725    1.0   1.0   3.0     2.0      0.0    1.0  unacc
1726    1.0   1.0   3.0     2.0      0.0    2.0   good
1727    1.0   1.0   3.0     2.0      0.0    0.0  vgood

[1728 rows x 7 columns]

In [34]:
X = df.iloc[:,:-1].values
y = df['class']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

array([[2.0, 2.0, 3.0, 1.0, 0.0, 0.0],
       [0.0, 0.0, 1.0, 2.0, 2.0, 1.0],
       [1.0, 2.0, 1.0, 1.0, 1.0, 2.0],
       ...,
       [0.0, 1.0, 3.0, 2.0, 1.0, 0.0],
       [1.0, 0.0, 2.0, 0.0, 2.0, 2.0],
       [2.0, 2.0, 1.0, 2.0, 2.0, 2.0]], dtype=object)

In [122]:
clf = RandomForestClassifier(n_estimators=200,random_state=42,max_features=3)

**n_estimators** is basically the number of trees in the forest. They can

In [123]:
clf.fit(X_train,y_train)
pred = clf.predict(X_test)

In [124]:
sum(pred==y_test)/pred.shape[0]

0.9730250481695568

**max_features** can affect on prediction accuracy. If we use all features in each and every tree of the forest, they would get the same decision structure. instead, we should use random combination of features for trees. square root or logarithm of number features is suggested as the better value for max_features.